<div class="show-container">
  <h1><%= @poster.band_name %></h1>
  <div class="row">
    <%= image_tag @poster.photo, class: "col-4 show-image"%>

    <div class="col-8" id="show-details">
      <h3><i class="fa-solid fa-circle-info"></i> <%= @poster.description %></h3>
      <h3><i class="fa-solid fa-dollar-sign"></i> <%= @poster.price_per_day %></h3>
      <h3><i class="fa-solid fa-up-down"></i> cm <%= @poster.height %></h3>
      <h3><i class="fa-solid fa-arrows-left-right"></i> cm <%= @poster.width %></h3>
    <%= link_to "Request to rent!", "/bookings/new", class: "btn btn-flat" %>
    </div>
  </div>
</div>
