<h1><%= @poster.band_name %></h1>

<p>Description: <%= @poster.description %></p>
<p>Price per day: <%= @poster.price_per_day %></p>
<p>Height: <%= @poster.height %></p>
<p>Width: <%= @poster.width %></p>

<%= image_tag @poster.photo %>
