<div class="text-center padded">

  <h1>Congrats! Your booking is confirmed 🥳</h1>

<h3>Booking information:</h3>
  <% if @booking %>
    <p><strong>Booking Id:</strong> <%= @booking.id %></p>
    <p><strong>Start-Date:</strong> <%= @booking.checkin_on %></p>
    <p><strong>End-Date:</strong> <%= @booking.checkout_on %></p>
    <p><strong>Valor:</strong> <%= number_to_currency(@booking.value, unit: 'CAD') %></p>
    <p><strong>Status:</strong> <%= @booking.status ? 'Active' : 'Inactive' %></p>
  <% end %>

</div>
