<div class="text-center padded">
<h1 class="mt-4">Booking Requests</h1>

<table class="table table-bordered mt-3">
  <thead class="thead-dark">
    <tr>
      <th>Booking Id</th>
      <th>Poster</th>
      <th>Start-Date</th>
      <th>End-Date</th>
      <th>Value</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.id %></td>
        <td><%= booking.id %></td>
        <td><%= booking.checkin_on %></td>
        <td><%= booking.checkout_on %></td>
        <td><%= number_to_currency(booking.value, unit: 'CAD') %></td>
        <td><%= booking.status ? 'Active' : 'Inactive' %></td>
        <td>
          <%= link_to 'Confirm', edit_booking_path(booking), class: 'btn btn-success btn-sm mr-1' %>
          <%= link_to 'Decline', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
      <%= link_to "Create a new booking", new_booking_path, class: 'btn btn-primary' %>

    <% end %>
  </tbody>
</table>
</div>
