<div class="text-center padded">
<h1 class="mt-4">Booking Requests</h1>

<table class="table table-bordered mt-3">
  <thead class="thead-dark">

    <tr>
      <th>Booking Id</th>
      <th>Poster</th>
      <th>Start-Date</th>
      <th>End-Date</th>
      <th>Value</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.id %></td>
        <td><%= booking.poster.band_name %></td>
        <td><%= booking.checkin_on %></td>
        <td><%= booking.checkout_on %></td>
        <td><%= number_to_currency(booking.poster.price_per_day, unit: 'CAD') %></td>
        <td><%= booking.status ? 'Confirm' : 'Canceled' %></td>
        <td>
        <% unless booking.status  %>
          <%= link_to 'Confirm', booking_path(booking), data: { "turbo-method": :patch } , class: 'btn btn-success btn-sm mr-1' %>
          <%= link_to 'Decline', booking_path(booking), data: { "turbo-method": :delete, confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        <% end %>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>
</div>
