<div class="text-center padded">

<h1>Booking canceled 😔</h1>

  <% if @booking %>
    <p><strong>Booking Id:</strong> <%= @booking.id %></p>
    <p><strong>Start-Date:</strong> <%= @booking.checkin_on %></p>
    <p><strong>End-Date:</strong> <%= @booking.checkout_on %></p>
    <p><strong>Valor:</strong> <%= number_to_currency(@booking.value, unit: 'CAD') %></p>
    <p><strong>Status:</strong> <%= @booking.status ? 'Active' : 'Inactive' %></p>
  <% else %>
    <p>Booking not found</p>
  <% end %>

  <%= link_to 'Back to bookings', bookings_path, class: 'btn btn-secondary btn-sm' %>
</div>
