
<% if @booking.status == true %>
<div class="card mb-3" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag @booking.poster.photo, class: "img-thumbnail align-right", size: "300x250", style: "float: right;"%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">Your booking is confirmed 🥳</h2>
        <h3 class="card-text"><p><strong>Booking Id:</strong> <%= @booking.id %></h3>
        <p class="card-text"><p><strong>Start-Date:</strong> <%= @booking.checkin_on %></p>
        <p class="card-text"><p><strong>End-Date:</strong> <%= @booking.checkout_on %></p>
        <p class="card-text"><p><strong>Value:</strong> <%= number_to_currency(@booking.poster.price_per_day, unit: 'CAD') %></p>
        <p class="card-text"><p><strong>Status:</strong> <%= @booking.status ? 'Confirm' : 'Cancel' %></p>

         <% else @booking.status == false %>
          <h1>You droped the booking 😔</h1>
          <p>Booking not found</p>
        <% end %>

      <%= link_to 'Back to bookings', bookings_path, class: 'btn btn-secondary btn-sm' %>

      </div>
    </div>
  </div>
</div>
