<!DOCTYPE html>
<html>
  <head>
    <title>BoyBandPosters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<<<<<<< HEAD
  <%= render '/components/navbar' %>
=======
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
>>>>>>> 3262ac7ba575ec51dae6d70f4c45ca25687b2268
    <%= yield %>
  </body>
</html>
